# Dependencies
node_modules/

# Build output
dist/

# Environment configurations
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ngrok/Temp
ngrok.log
ngrok.exe
ngrok.zip

# OS Files
.DS_Store
Thumbs.db
